
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

serviceAccountKey.json

# Android
android/

# Node
node_modules/

